* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    background-color: #a306b6;
    padding: 20px;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
       
}

nav li {
    margin-right: 100px;
    
}

nav a {

    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    background-color: rgb(224, 219, 219);
    border-radius: 8px / 8px ;
    padding: 20px 150px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  
    }
form{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    
}
input, textarea{
    background-color: rgb(224, 219, 219);
    border: none;
    width: 500px;
    resize : none;
    margin-top: 10px;
    margin-bottom: 10px;
 
}
textarea{
    border-radius: 10px  ;

}
input{
    height: 40px;
    border-radius: 10px  ;
}


button {

    background-color: #a306b6;
    color: white;
    font-size: 1em;
    border-radius: 8px / 8px ;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

footer{
    background-color: gray;
    color: white;
    padding: 10px
}